{% if order.status == 'active' %}

<div class="row">
    <article class="span12 data-block">
        <div class="data-container">
            <header>
                <h2>{% trans 'VPS management' %}</h2>
                <ul class="data-header-actions">
                    <li class="domain-tabs active"><a href="#tab-details" class="btn btn-inverse btn-alt">{% trans 'Details' %}</a></li>
                    <li class="domain-tabs"><a href="#tab-stats" class="btn btn-inverse btn-alt">{% trans 'Statistics' %}</a></li>
                </ul>
            </header>
            <section class="tab-content">
                <div class="tab-pane active" id="tab-details">
                    {% set info = client.serviceopenvpn_info({"order_id":order.id}) %}
                    <table class="table table-striped table-bordered table-condensed">
                        <tbody>
                        <tr>
                            <td>{% trans 'Count connections' %}:</td>
                            <td>
                                <span id="vps-status" class="label label- label-success">{{ info.sessions }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Root password' %}:</td>
                            <td><b>{{ info.password }}</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="tab-stats">
                    <div class="body" style="width: 100%; ">
                        {% set bw = info.bandwidth|split(',') %}
                        <table class="table table-striped table-bordered table-condensed">
                            <caption>{% trans 'Bandwidth' %}</caption>
                            <tbody>
                            <tr>
                                <td>{% trans 'Total' %}:</td>
                                <td>{{ bw[0]|size }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Downloaded' %}:</td>
                                <td>{{ bw[1]|size }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Uploaded' %}:</td>
                                <td>{{ bw[2]|size }}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="2">
                                    <div class="progress progress-{% if ram[3] < 50 %}success{% elseif ram[3] < 75%}warning{% else %}danger{% endif %}" >
                                        <div class="bar" style="width: {{bw[3]}}%;"></div>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="clear"></div>
                    <div class="block" style="text-align: center;">
                        <img src="{{service.master_url}}{{ info.trafficgraph }}" alt="" style="margin-bottom: 2em;">
                        <img src="{{service.master_url}}{{ info.loadgraph }}" alt="" style="margin-bottom: 2em;">
                        <img src="{{service.master_url}}{{ info.memorygraph }}" alt="">
                    </div>
                </div>
            </section>
        </div>
    </article>
</div>


<script type="text/javascript">
    $(function() {
        $('.domain-tabs a').bind('click',function(e){
            e.preventDefault();
            $(this).tab('show');
        });
        function onAfterStatusCheck(result)
        {
            $('#vps-status').text(result);
        }
    });
</script>
{% endif %}