    <div class="rowElem">
        <label>{% trans 'Hostname' %}:  <b>bb-modules/Serviceopenvpn/html_admin/mod_serviceopenvpn_order.phtml:2</b> </label>
        <div class="formRight">
            <input type="text" name="config[hostname]" value="" placeholder="VPS hostname"/>
        </div>
        <div class="fix"></div>
    </div>

   <!-- <div class="rowElem">
        <label>{% trans 'Template' %}</label>
        <div class="formRight">
            {{ mf.selectbox('config[template]', guest.serviceopenvpn_get_templates, null, 1) }}
        </div>
        <div class="fix"></div>
    </div> -->
