<div class="help">
    <h5>{% trans 'OpenVPN configuration' %}</h5>

    <p><b> bb-modules/Serviceopenvpn/html_admin/mod_serviceopenvpn_config.phtml:3</b></p>
</div>

<form method="post" action="{{ 'api/admin/product/update_config'|link }}" class="mainForm api-form save"
      data-api-reload="1">
    <fieldset>
        <legend>{% trans 'Plan parameters' %}</legend>

        <div class="rowElem">
            <label>{% trans 'Upload speed Mb' %}:</label>

            <div class="formRight">
                <input type="text" name="config[up_speed]" value="{{product.config.up_speed}}"
                       placeholder="Enter your upload speed"/>
            </div>
            <div class="fix"></div>
        </div>
        <div class="rowElem">
            <label>{% trans 'Download speed Mb' %}:</label>

            <div class="formRight">
                <input type="text" name="config[down_speed]" value="{{product.config.down_speed}}"
                       placeholder="Enter your download speed"/>
            </div>
            <div class="fix"></div>
        </div>
        <div class="rowElem">
            <label>{% trans 'Sessions' %}:</label>

            <div class="formRight">
                <input type="text" name="config[sessions]" value="{{product.config.sessions}}"
                       placeholder="Number sessions at same time"/>
            </div>
            <div class="fix"></div>
        </div>
        <div class="rowElem">
            <label>{% trans 'Traffic per month' %}:</label>
            <div class="formRight">
                <input type="text" name="config[trafic]" value="{{product.config.trafic}}"
                       placeholder="Count trafic per month in " style="width: 60%;  float: left;" />
       <!--        <select name="config[traficunit]">
                    <option value="kb" >kb</option>
                    <option value="Mb">Mb</option>
                    <option value="Gb">Gb</option>
                    <option value="Tb">Tb</option>
                </select> -->
                {% set units = admin.serviceopenvpn_get_units() %}
                {{ mf.selectbox('config[traficunit]', units, product.config.traficunit, 'kb', 'kb') }}

            </div>
            <div class="fix"></div>
        </div>

        <input type="submit" value="{% trans 'Update' %}" class="greyishBtn submitForm"/>
    </fieldset>

    <input type="hidden" name="config[cluster_id]" value="1"/>
    <input type="hidden" name="id" value="{{ product.id }}"/>
</form>

